<div class="container">
  <div class="row myfontsetup3">
    <div class="col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
      <%= simple_form_for [ @foodtruck, @dish] do |f| %>
        <%= f.input :name, label: 'menu title', placeholder: 'choose you meal'  %>
        <%= f.input :name, collection: Foodtruck.menu.name, as: :radio_buttons, checked: Foodtruck.menu.first %>
        <%= f.input :name, label: 'menu title', placeholder: 'choose you meal'  %>
        <%= f.input :description, label: 'Description' %>
        <%= f.input :price_cents, label: 'Your price'%>
        <%= f.input :photo %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>



