<div class="text-center">
  <h1><%= @menu.name %></h1>

  <p>description: <%= @menu.description %></p>
  <p>photo: <%= @menu.photo %></p>
  <p>price_cents: <%= @menu.price_cents %></p>

<p><%= link_to "Editer", edit_foodtruck_menu_path(@menu), class: "btn btn-primary" %></p>

<h5><%= link_to "menus new", new_foodtruck_menu_path(@foodtruck), class: "btn btn-primary" %></h5>

<h5><%= link_to "menus show", foodtruck_menu_path(@foodtruck), class: "btn btn-primary" %></h5>

<h5><%= link_to "menus edit", edit_foodtruck_menu_path(@foodtruck), class: "btn btn-primary" %></h5>


