<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <%= image_tag "tftalogoblanc.png" %>
      </div>
      <div class="col-sm-3">
        <h1>A PROPOS</h1>
        <p>The Food Truck Agency connecte Foodtrucks & foodbikes avec les particuliers et les entreprises souhaitant les réserver. Vous êtes une entreprise ou une école et souhaitez bénéficier d'un point de restauration sain et délicieux? Nous organisons la venue d'un ou plusieurs foodtrucks sur votre parking selon vos exigences.</p>
      </div>
      <div class="col-sm-3">
        <h1>Réseaux Sociaux</h1>
        <ul class="list-inline">
          <li><%= link_to "", "#", class: "fa fa-youtube" %></li>
          <li><%= link_to "", "#", class: "fa fa-instagram" %></li>
          <li><%= link_to "", "#", class: "fa fa-facebook" %></li>
          <li><%= link_to "", "#", class: "fa fa-twitter" %></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h1>Site Map</h1>
        <ul>
          <li>
            <%= link_to "Réservation Food Truck", foodtrucks_path %>
          </li>
          <li>
            <%= link_to "Devenir Partenaire", new_foodtruck_path %>
          </li>
        </ul>
        <br>
      </div>
    </div>
    <div class="row text-center">
      <span>© The Food Truck Agency, Marque déposée</span>
    </div>
  </div>
</div>
