<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <ul class="list-inline">
        <p>
          <li><%= link_to "", "#", class: "fa fa-youtube" %></li>
          <li><%= link_to "", "#", class: "fa fa-instagram" %></li>
          <li><%= link_to "", "#", class: "fa fa-facebook" %></li>
          <li><%= link_to "", "#", class: "fa fa-twitter" %></li>
        <p>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <p>The Food Truck Agency</p>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
        <h5>

        A PROPOS

The Food Truck Agency connecte Foodtrucks & foodbikes avec les particuliers et les entreprises souhaitant les réserver.

Vous êtes une entreprise ou une école et souhaitez bénéficier d'un point de restauration sain et délicieux?
Nous organisons la venue d'un ou plusieurs foodtrucks sur votre parking selon vos exigences.
Vous êtes un particulier, une entreprise ou une association et planifiez un événement?
Nous vous aidons à réserver le meilleur foodtruck parmi notre sélection qualifiée.

Référencez votre foodtruck gratuitement pour toucher plusieurs milliers de visiteurs chaque mois et multiplier votre chiffre d'affaires.
          <h5>
          <h5> © The Food Truck Agency, Marque déposée</h5>
        </div>
        <%= image_tag "tftalogo.png" %>
      </div>
    </div>
  </div>
</div>
