<div class="container text-center padded features">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
       <%= link_to foodtrucks_path do %>
      <%= image_tag "images/globe.png", class: "" %>
      <h2>Discover the foodtrucks</h2>
      <p>The foodtruck is your new firend.</p>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
    <%= link_to foodtrucks_path do %>
     <%= image_tag "images/dollar.png", class: "" %>
      <h2>online reservation</h2>
      <p>No cash issues anymore.</p>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
     <%= link_to dishes_path do %>
      <%= image_tag "images/beer.png", class: "" %>
      <h2>Meet crazy food</h2>
      <p>Discover new culture and lifestyle.</p>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
     <%= link_to foodtrucks_path do %>
       <%= image_tag "images/heart.png", class: "" %>
      <h2>Share and love</h2>
      <p>Join a community on road.</p>
       <% end %>
    </div>
  </div>
</div>
