<div class="banner">
  <div class="banner-content">
    <h1>THE FOOD TRUCK AGENCY</h1>
    <p>Réserver facilement votre foodtruck pour un évènement !</p>
    <%= link_to "Find a food truck", foodtrucks_path, class: "btn btn-danger" %>
  </div>
</div>
<div class="text-center">
  <h1 class="text-center">
    <strong>
      <span style="color:#d33d27;">Découvrez et réservez l’un de nos Food Trucks partenaires</span>
    </strong>
  </h1>
  <p>Partout en France bénéficiez d’un large choix de Food Trucks pour restaurer vos invités !</p>
</div>

<div class="container text-center padded features">
  <div class="row">
    <div class="card-home">
      <% @foodtrucks.first(4).each do |foodtruck| %>
        <%= render "foodtrucks/card", foodtruck: foodtruck %>
      <% end %>
    </div>
  </div>
</div>

<div class="container text-center delimiter">
  <strong>– COMMENT ÇA MARCHE ? –</strong>
</div>


<div class="container text-center">
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag "1.png" %>
      <p>Je choisis le restaurateur idéal parmi la plus large sélection française de FoodTrucks</p>
    </div>
    <div class="col-lg-4">
      <%= image_tag "2.png" %>
      <p>Je renseigne les informations en lien avec mon événement grâce au formulaire de réservation en ligne.</p>
    </div>
    <div class="col-lg-4">
      <%= image_tag "3.png" %>
      <p>Nous revenons vers vous pour régler les derniers détails et vous fournir un devis personnalisé</p>
    </div>
  </div>
</div>
<div class="container text-center delimiter">
  <strong>– LES ATOUTS DES FOOD TRUCKS –</strong>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag "p1.png" %>
      <h4>Que peut-on manger à un foodtruck ?</h4>
      <p>Une cuisine de rue de qualité venue du monde entier : des tacos mexicains, aux burgers revisités, en passant par les bô-bun et les bagels, une infinité de recettes pour satisfaire vos papilles !</p>
    </div>
    <div class="col-lg-4 ">
      <%= image_tag "p2.png" %>
      <h4>Est-ce vraiment sain de manger dans ces camions ?</h4>
      Les foodtrucks et foodbikes utilisent des produits issus de circuits courts, souvent bio et toujours frais et de saison. Une solution pratique pour manger bien et sain.
    </div>
    <div class="col-lg-4">
      <%= image_tag "p3.png" %>
      <h4>Combien coûte un repas à un foodtruck ?</h4>
      <p>Bien que les prix varient en fonction des foodtrucks, une formule vous coûtera entre 7 et 14 euros. Comptez quelques euros de plus lors des prestations évènementiels</p>
    </div>
    <div class="col-lg-4">
      <%= image_tag "p4.png" %>
      <h4>Jusqu’à combien de kilomètres se déplace un foodtruck ?</h4>
      <p>En fonction de la prestation les foodtrucks peuvent se déplacer jusqu’à 100 km. En règle générale, les Food Trucks se déplacent dans un rayon de 30 à 50 km.</p>
    </div>
    <div class="col-lg-4">
      <%= image_tag "p5.png" %>
      <h4>Je voudrais réserver un foodtruck, que dois-je faire ?</h4>
      <p>Rendez-vous sur la page foodtrucks partenaires choisissez le foodtruck de vos rêves, parlez-nous de votre événement et nous nous occupons du reste.</p>
    </div>
    <div class="col-lg-4">
      <%= image_tag "p6.png" %>
      <h4>Comment peut-on accueillir un food truck régulièrement ?</h4>
      <p>Entreprises/écoles supérieures, rendez-vous sur la page contact, décrivez votre situation. Nous vous proposerons les meilleurs foodtrucks pour vous régaler tous les midis.</p>
    </div>
  </div>
</div>




