<div class="text-center">
  <h1><%= @foodtruck.name %></h1>

  <p>
    <% if @foodtruck.photos? %>
      <%= cl_image_tag @foodtruck.photos.path, width: 400, height: 300, crop: :fill %>
    <% end %>
  </p>

  <p>address: <%= @foodtruck.address %></p>
  <p>Style culinaire: <%= @foodtruck.culinary_style.title %></p>
  <p>minimum de repas: <%= @foodtruck.min_capacity %></p>
  <p>maximum de repas: <%= @foodtruck.max_capacity %></p>
  <p>max KM gratuits<%= @foodtruck.free_radius_max %></p>
  <p>max Km déplacement<%= @foodtruck.radius_max %></p>
  <p>prix du KM: <%= @foodtruck.km_price %></p>
  <h5><%= link_to "Commander", "", class: "btn btn-danger" %></h5>
  <hr>
  <h5><%= link_to "Retour", foodtrucks_path, class: "btn btn-primary" %></h5>
  <p><%= link_to "Editer", edit_foodtruck_path, class: "btn btn-primary" %></p>
</div>

<hr>

<div class="text-center">
  <h1>The Menus of <%= @foodtruck.name %></h1>

  <% @foodtruck.menus.each do |menu| %>
    <li>
      <%= link_to foodtruck_menu_path(@foodtruck, menu) do %>
        <%= menu.name %>
      <% end %>
    </li>
  <% end %>





  <h5><%= link_to "NEW MENU", new_foodtruck_menu_path(@foodtruck), class: "btn btn-primary" %></h5>
  <h5><%= link_to "MENU INDEX", foodtruck_menus_path(@foodtruck), class: "btn btn-primary" %></h5>
</div>
<hr>
<div class="text-center">
  <h1>The Dishes of <%= @foodtruck.name %></h1>
  <p><%= link_to "NEW DISH", new_foodtruck_dish_path(@foodtruck), class: "btn btn-primary" %></p>
  <ul class="list-unstyled">
    <% @foodtruck.dishes.each do |dish| %>
      <li>
        <%= link_to foodtruck_dish_path(@foodtruck, dish) do %>
          <%= dish.name %>
        <% end %>
      </li>
    <% end %>
  </ul>


  <div class="row">
    <div class="col-sm-10 col-sm-1">
      <%= simple_form_for [@foodtruck, @reservation] do |f| %>
      <%= f.input :shift_datetime %>
      <%= f.input :address %>
      <%= f.button :submit %>
      <% end %>
    </div>
  </div>


</div>









