<div class="container">
  <div class="text-center">
    <h1><%= @foodtruck.name %></h1>

    <% if @foodtruck.photos.any? %>
      <%= render "foodtrucks/carousel", photos: @foodtruck.photos %>
    <% end %>

    <p>address: <%= @foodtruck.address %></p>
    <p>Style culinaire: <%= @foodtruck.culinary_style.title %></p>
    <p>minimum de repas: <%= @foodtruck.min_capacity %></p>
    <p>maximum de repas: <%= @foodtruck.max_capacity %></p>
    <p>max KM gratuits<%= @foodtruck.free_radius_max %></p>
    <p>max Km déplacement<%= @foodtruck.radius_max %></p>
    <p>prix du KM: <%= @foodtruck.km_price %></p>

    <p><%= link_to "Editer", edit_foodtruck_path(@foodtruck), class: "btn btn-primary" %></p>
  </div>

  <hr>

  <div class="text-center">
    <h1>The Menus of <%= @foodtruck.name %></h1>
    <h5><%= link_to "NEW MENU", new_foodtruck_menu_path(@foodtruck), class: "btn btn-primary" %></h5>

    <% @menus.each do |menu| %>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#menu-<%= menu.id %>">
          <%= menu.name %>
        </button>
        <div class="modal fade" id="menu-<%= menu.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Menu: <%= menu.name %></h4>
              </div>
              <div class="modal-body">
                Description du menu: <%= menu.description %>
                <br><br>
                <% if menu.photo? %>
                  <%= cl_image_tag menu.photo.path, width: 300, height: 200, crop: :fill %>
                <% end %>
                <% menu.price %>

                <%= simple_form_for :order, url: menu_carts_path(menu) do |f| %>
                  <%= f.input :number_of_meals %>
                  <%= f.submit "Ajouter au panier" %>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    <% end %>

    <br>
    <br>
    COMMANDER
    <% if @cart.present? and user_signed_in? %>
      <% @cart.each do |item| %>
        <%= item.inspect %>
        <%= link_to "delete", cart_path(item["id"]), method: :delete %>
      <% end -%>
      <hr>
      <p>TOTAL: <%= sum_cart_symbol(@cart) %></p>

      <%= simple_form_for [@foodtruck, @reservation] do |f| %>
        <%= f.input :shift_datetime %>
        <%= f.input :address %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-email="<%= current_user.email %>"
          data-name="Reservation FoodTruck"
          data-description="Commande <%= @foodtruck.name %>"
          data-amount="<%= sum_cart(@cart) %>"
          data-currency="EUR"></script>
      <% end %>
    <% end %>
  </div>
</div>
