<div class="text-center">
  <h1><%= @foodtruck.name %></h1>

  <p>address: <%= @foodtruck.address %></p>
  <p>minimum de repas: <%= @foodtruck.min_capacity %></p>
  <p>maximum de repas: <%= @foodtruck.max_capacity %></p>
  <p>max KM gratuits<%= @foodtruck.free_radius_max %></p>
  <p>max Km déplacement<%= @foodtruck.radius_max %></p>
  <p>prix du KM: <%= @foodtruck.km_price %></p>
  <h5><%= link_to "Commander", "", class: "btn btn-danger" %></h5>
  <hr>
  <h5><%= link_to "Retour", foodtrucks_path, class: "btn btn-primary" %></h5>
</div>
