<div class="text-center">
  <h1><%= @foodtruck.name %></h1>

  <p>
    <% if @foodtruck.photo? %>
      <%= cl_image_tag @foodtruck.photo.path, width: 400, height: 300, crop: :fill %>
    <% end %>
  </p>

  <p>address: <%= @foodtruck.address %></p>
  <p>Style culinaire: <%= @foodtruck.culinary_style.title %></p>
  <p>minimum de repas: <%= @foodtruck.min_capacity %></p>
  <p>maximum de repas: <%= @foodtruck.max_capacity %></p>
  <p>max KM gratuits<%= @foodtruck.free_radius_max %></p>
  <p>max Km déplacement<%= @foodtruck.radius_max %></p>
  <p>prix du KM: <%= @foodtruck.km_price %></p>
  <h5><%= link_to "Commander", "", class: "btn btn-danger" %></h5>
  <hr>
  <h5><%= link_to "Retour", foodtrucks_path, class: "btn btn-primary" %></h5>
  <p><%= link_to "Editer", edit_foodtruck_path, class: "btn btn-primary" %></p>
</div>

<hr>
<hr>
  <div class="text-center">
   <h1>My dishes</h1>
    <ul class="list-unstyled">
      <% @foodtruck.dishes.each do |dish| %>
        <li>
          <%= link_to foodtruck_dish_path(@foodtruck, dish) do %>
            <%= dish.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="text-center">
    <p><%= link_to "NEW DISH", new_foodtruck_dish_path(@foodtruck), class: "btn btn-primary" %></p>
  </div>



  <h5><%= link_to "menus", new_foodtruck_menu_path(@foodtruck), class: "btn btn-primary" %></h5>

  <h5><%= link_to "menus show", foodtruck_menus_path(@foodtruck), class: "btn btn-primary" %></h5>



