<div class="">
  <h1>Date de l'event: <%= @reservation.shift_datetime %></h1>

  <p>address: <%= @reservation.address %></p>
  <p>Date d'acceptation: <%= @reservation.accepted_at %></p>
  <p>Date de refus: <%= @reservation.refused_at %></p>
  <p>commentaire: <%= @reservation.review %></p>
  <p>Note: <%= @reservation.mark %></p>
  <p>prix: <%= humanized_money_with_symbol @reservation.total_price %></p>

</div>
<hr>
