<div class="text-center">
  <h1>All the dishes of <%= @foodtruck.name%></h1>
  <ul>
    <% @dishes.each do |dish| %>
      <li>
      <%= dish.name %>
      <%= link_to "VOIR PLUS", foodtruck_dish_path(@foodtruck, dish), class: "btn btn-primary" %>
      <%= link_to "EDITER", edit_foodtruck_dish_path(@foodtruck, dish), class: "btn btn-primary" %>

      </li>
    <% end %>
  </ul>
  <h5><%= link_to "New Menu", new_foodtruck_dish_path(@foodtruck), class: "btn btn-primary" %></h5>
</div>

