<h3 class="myfontsetup text-center">creation de food  </h3>

<div class="container">
  <div class="row myfontsetup3">
    <div class="col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
      <%= simple_form_for [@foodtruck, @dish] do |f| %>
        <%= f.input :name, label: 'dish title', placeholder: 'your title'  %>
        <%= f.input :description, label: 'Description' %>
        <%= f.input :price, label: 'Your price'%>
        <%= f.input :gluten %>
        <%= f.input :bio %>
        <%= f.input :vegetarien %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
