<div class="text-center">
  <h1>My <%= @dish.name %> dish</h1>
  <p>Description: <%= @dish.description %></p>
  <p>Category: <%= @dish.category %></p>
  <p>Price: <%= @dish.price %></p>
  <p>Gluten? <%= @dish.gluten %></p>
  <p>Bio? <%= @dish.bio %></p>
  <p>Végétarien? <%= @dish.vegetarien %></p>
  <p><%= link_to "Editer", edit_foodtruck_dish_path, class: "btn btn-primary" %></p>
  <h5><%= link_to "Retour", foodtruck_path, class: "btn btn-primary" %></h5>
</div>


